<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    <title>Error</title>
    {% include _templateFolder+'head.html' %}
    <style>
        p {color: #7C7C7C;font-family: Century Gothic, Arial, Verdana, sans-serif;}
        b {color: black;font-size: 17px;}
    </style>
</head>
<body style="margin: 7% auto 0;max-width: 390px;">
    <a href="/"><img src="/img/logo.png" width="200px"></a>
    <p><b>404 Error.</b> Something has gone wrong :(
    <p>The requested URL was not found on this server.

{% include _templateFolder+'scripts.html' %}
</body>
</html>
