<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>SimPEG</title>
  {% include _templateFolder+'head.html' %}
  {% include _templateFolder+'mathjax.html' %}

  <style type="text/css">
    @import url(/css/stickyFooter.css);

    .callout {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .examples {
        padding-top: 10px;
        padding-bottom: 70px;
    }

    .install .inner-container {
        padding-right: 26.04167%;
        background: url(/img/python-logo.png) no-repeat;
        background-position: 94.79167%;
        background-size: 19.79167%;
    }
    .install p, .callout p, .examples p{
        font-size: 20px;
        line-height: 1.5em;
        margin-bottom: 40px;
    }
    .install span.install-command {
        display: inline-block;
        background: #f1f1f1;
        padding: 8px 20px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        font-family: Courier,"Courier New",Monaco;
        font-size: 2.5em;
        margin-bottom: 40px;
    }

    .table a{
      color:#333;
    }

    .people img{
      border-radius:  90px;
    }

  </style>
</head>
<body>
{% include _templateFolder+'navBar.html' %}
<section>


<container id="wrap" class="row">

    <div class="col-md-8 col-md-offset-2">

    <center><img src="/img/logo-block.png" width="30%" style="margin-top:45px;"></center>
    <h2 style="text-align:center;color:#333;">Simulation and Parameter Estimation in Geophysics</h2>

    <div class="row" style="margin: 50px 0;">
        <div class="col-md-8 col-md-offset-2">
            <p class="lead" style="text-align:center;">An open source python package for simulation and gradient based parameter estimation in geophysical applications.</p>
        </div>
    </div>

    <hr>

      <center>
        <a href="https://pypi.python.org/pypi/SimPEG" target="_blank"><img src="https://img.shields.io/pypi/v/SimPEG.svg" alt="Latest PyPI version"></a>
        <a href="https://github.com/simpeg/simpeg/blob/master/LICENSE" target="_blank"><img src="https://img.shields.io/badge/license-MIT-blue.svg" alt="BSD 3 clause license."></a>
        <a href="https://travis-ci.org/simpeg/simpeg" target="_blank"><img src="https://api.travis-ci.org/simpeg/simpeg.svg?branch=master" alt="Travis CI build status"></a>
        <a href="https://codecov.io/gh/simpeg/simpeg" target="_blank"><img src="https://codecov.io/gh/simpeg/simpeg/branch/master/graph/badge.svg" alt="Coverage status"></a>
      </center>
    <hr>

    <div class="install callout">
      <div class="inner-container">
        <h3>Installation</h3>
        <p>
          The easiest way to install SimPEG is from <a href="https://pypi.python.org/pypi/simpeg">PyPI</a>,
          using <a href="https://pypi.python.org/pypi/pip">pip</a>:
        </p>
        <span class="install-command"><i>&gt;</i> <span class="typing">pip install SimPEG</span></span>
        <p class="instructions">
          <i class="fa fa-book"></i>
          Read more detailed installations instructions in the
          <a href="http://docs.simpeg.xyz">documentation</a>.
        </p>
        <p class="source">
          <i class="fa fa-github"></i>
          Get the source code at <a href="https://github.com/simpeg/simpeg">Github</a>.
        </p>
      </div>
    </div>

    <hr>

     <div class="examples">
     <div class="row">
        <h3>Examples</h3>
        <div class="col-md-6" align="center">
            <a href="http://docs.simpeg.xyz/content/examples/index.html">
            <p align="center">Code usage</p>
            <img src="http://docs.simpeg.xyz/_images/sphx_glr_plot_pseudo_section_001.png" align="center" width="300">
            </a>
        </div>
        <div class="col-md-6" align="center">
          <a href="http://computation.geosci.xyz/">
          <p align="center">Case studies</p>
          <img src="http://docs.simpeg.xyz/_images/sphx_glr_plot_laguna_del_maule_inversion_003.png" align="center" width="300">
          </a>
        </div>
        </div>
      </div>


    <hr>

    <div class="callout">
        <h3>An extensible framework for geophysical inversions</h3>

        <p>
          Check out the <a href="http://docs.simpeg.xyz">documentation</a> and the <a href="http://dx.doi.org/10.1016/j.cageo.2015.09.015">paper</a> for an overview.
        </p>

        <center>
        <img src="/img/simpeg/workflow.png" height="600px">
        </center>
    </div>

    <hr>

    <div class="callout">
        <h3>We are developing for all sorts of geophysical applications</h3>

        <p>
          Some of our projects are in active development, feel free to help out, or <a href="/contact">contact us</a> with a question.
        </p>

        <table class="table">
          <thead>
            <tr>
              <th>Package</th>
              <th>State</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for P in packages%}
            <tr>
              <td><a href="https://github.com/simpeg/{{P.link}}"><i class="fa fa-github"></i> {{ P.name }}</a></td>
              <td><i class="fa fa-{{ P.status }}" style="color:{{ P.color }};padding-left:10px"></i></td>
              <td>{{ P.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <hr>

    <div class="row people callout">
      <h3>Our team</h3>
      <p>
         Questions? Please <a href="/contact">contact us</a>.
      </p>
      <div class="col-md-3"><center><a href="http://row1.ca"><img src="/img/people/rowan.png" width="110px" height="110px"><br>Rowan</a></center></div>
      <div class="col-md-3"><center><a href="http://seogi.me"><img src="/img/people/seogi.png" width="110px" height="110px"><br>Seogi</a></center></div>
      <div class="col-md-3"><center><a href="http://lindseyjh.ca"><img src="/img/people/lindsey.png" width="110px" height="110px"><br>Lindsey</a></center></div>
      <div class="col-md-3"><center><a href="http://www.eos.ubc.ca/about/grad/G.Rosenkjaer.html"><img src="/img/people/gudni.jpg" width="110px" height="110px"><br>Guðni</a></center></div>
    </div>
    <div class="row people callout" style="padding-top:0;">
      <div class="col-md-3"><center><a href="https://github.com/bsmithyman"><img src="/img/people/brendan.png" width="110px" height="110px"><br>Brendan</a></center></div>
      <div class="col-md-3"><center><a href="http://gif.eos.ubc.ca/people/foundo"><img src="/img/people/dom.jpg" width="110px" height="110px"><br>Dom</a></center></div>
      <div class="col-md-3"><center><a href="https://github.com/micmitch"><img src="/img/people/mike.jpg" width="110px" height="110px"><br>Mike</a></center></div>
      <div class="col-md-3"><center><a href="https://github.com/thast"><img src="/img/people/thibaut.jpg" width="110px" height="110px"><br>Thibaut</a></center></div>
    </div>
    <div class="row people callout" style="padding-top:0;">
      <div class="col-md-3"><center><a href="https://www.gns.cri.nz/who/staff/3156.html"><img src="/img/people/craig.jpg" width="110px" height="110px"><br>Craig</a></center></div>
      <div class="col-md-3"><center><a href="http://www.ucalgary.ca/pidlisecky/"><img src="/img/people/adam.png" width="110px" height="110px"><br>Adam</a></center></div>
      <div class="col-md-3"><center><a href="http://gif.eos.ubc.ca/"><img src="/img/people/doug.png" width="110px" height="110px"><br>Doug</a></center></div>
      <div class="col-md-3"><center><a href="https://github.com/simpeg/simpeg/graphs/contributors"><img src="/img/people/you.png" width="110px" height="110px"><br>Contributors</a></center></div>
    </div>

    <hr>

    <div class="callout">

        <h4>Citing SimPEG!</h4>

        <h5>Framework and implementation</h5>

        <div style="padding:30px;margin:25px;background:#ECECEC;border-radius:5px;">
          Cockett, Rowan, Seogi Kang, Lindsey J. Heagy, Adam Pidlisecky, and Douglas W. Oldenburg. "SimPEG: An Open Source Framework for Simulation and Gradient Based Parameter Estimation in Geophysical Applications." Computers &amp; Geosciences, September 2015. <a href="http://dx.doi.org/10.1016/j.cageo.2015.09.015">doi:10.1016/j.cageo.2015.09.015</a>.
        </div>

        <h5>Electromagnetics</h5>

        <div style="padding:30px;margin:25px;background:#ECECEC;border-radius:5px;">
          Lindsey J. Heagy, Rowan Cockett, Seogi Kang, Gudni K. Rosenkjaer, Douglas W. Oldenburg, A framework for simulation and inversion in electromagnetics, Computers &amp; Geosciences, Volume 107, 2017, Pages 1-19, ISSN 0098-3004, <a href="http://dx.doi.org/10.1016/j.cageo.2017.06.018">http://dx.doi.org/10.1016/j.cageo.2017.06.018</a>.
        </div>


        <h4>In Projects</h4>

        <div>
          If you use SimPEG in your software, you can acknowledge it with a badge!
          <div class="row" align="center" style="margin-top:20px; margin-bottom:20px;" >
            <img src="https://img.shields.io/badge/powered%20by-SimPEG-blue.svg">
          </div>
            <strong>Markdown:</strong>
                <pre style="font-size:12px;margin:25px;">
[![SimPEG](https://img.shields.io/badge/powered%20by-SimPEG-blue.svg)](http://simpeg.xyz)</pre>
            <strong>ReStructured Text:</strong>
                <pre style="font-size:12px;margin:25px;">
.. image:: https://img.shields.io/badge/powered%20by-SimPEG-blue.svg
    :target: http://simpeg.xyz
    :alt: SimPEG</pre>

        </div>
    </div>



    </div>


    <div id="push"></div>
</container> <!-- /. wrap -->



{% include _templateFolder+'footer.html' %}
</section>
{% include _templateFolder+'scripts.html' %}
</body>
</html>
